* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global Design */

body{
    font-family: Arial, Helvetica, sans-serif;
}

h2, h3, p {
    margin-top:10px;
}

main{
    padding: 20px;
}

.header-container{
    background-color:#120323;
    color: #97bf04;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;   
    gap: 1rem;
}

#container > main > figure > figcaption > h2{
    color:#120323;
}

figure img{
    border: solid 5px red;
}


aside {
    background-color:#97bf04;
    padding: 20px 10px;
}

footer{
    padding:2rem;
    text-align:center;
    color:#f9f9f9;
    margin-top:10px;
    background-color: #d9043d;
}


/* Media Query Mobile  < 768px */

@media screen and (max-width: 768px) {
.header-container{
    flex-direction: column;
    text-align: center;
}

#container{
    flex-direction: column;
}

figure{
    display:flex;
    flex-direction:column;
}

figcaption{
    padding:0 !important;
}

figure img{
    width: 100% !important;
    display: block;
    margin: 0 auto;
    }
}

/* Media Query Mobile  < 1000 */

@media screen and (max-width: 1000px){
figure {
    display: flex;
    align-items: center;
  }
  
figure img {
    width: 300px;
  }
  
    figcaption {
    flex: 1;
    padding-left: 20px;
  }
  
aside {
    width: 100%;
}
}

/* Media Query Mobile  => 1001px */

@media screen and (min-width: 1001px){

#container {
    display:flex;
    justify-content: space-between;
}
figure img{
    width:300px;
}

main{
    flex:2;
}

#container > main > figure {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

aside{
    margin: 20px 0px 0px 0px;
    flex:.5;
}
}