* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global Design */

body{
    font-family: Arial, Helvetica, sans-serif;
}

h2, h3, p {
    margin-top:10px;
}

main{
    padding: 20px;
}

.header-container{
    background-color:#120323;
    color: #97bf04;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 20px;   
    gap: 1rem;
}

#container > main > figure > figcaption > h2{
    color:#120323;
}

figure img{
    border: solid 5px red;
    width:100%;
}

#container{
    margin-bottom:10px;
}


aside {
    background-color:#97bf04;
    padding: 1rem;
}

footer{
    padding:2rem;
    text-align:center;
    color:#f9f9f9;
    background-color: #d9043d;
}


/* Media Query Mobile  < 768px */

@media screen and (min-width: 768px) {
.header-container{
    flex-direction: row;
    text-align: center;
}

figure{
    display:flex;
    gap:1rem;
}

#container{
    margin-bottom:10px;
}

figcaption{
    padding:0;
}

figure img{
    width: 300px;
    height:300px;
    display: block;
    margin: 0 auto;
    }
}

/* Media Query Mobile  < 1000 */

@media screen and (min-width: 1000px){

#container {
    display:flex;
    justify-content: space-between;
}

figure {
    display: flex;
  }

figure img{
    width:300px;
}

#container > main > figure {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

aside{
    min-width:300px;
    max-width:400px;
    margin: 20px 0px 0px 0px;
}
}